%section.section
  .container
    .card
      .card-content.content
        %h1.title プライバシーポリシー
        %hr
        %p ClinicList（以下、「当サービス」）は、個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）を定め、当サービスを利用するお客様（以下、「利用者」）の個人情報の適切な取扱い及び保護に努めます。当サービスをご利用いただく場合、本ポリシーに同意したものとみなされますのでご了承下さい。
        %h2.title 個人情報の定義
        %p 本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）を意味するものとします。
        %h2.title 個人情報の利用目的
        %p 当社は、利用者の個人情報を以下の目的で利用いたします。
        %ol
          %li 本サービスに関する利用者の本人確認のため
          %li 本サービスへのお問い合せへの対応のため
          %li 本サービスの利用状況等を調査、分析するため
          %li 本サービスの開発、改善に役立てるため
          %li キャンペーン等の抽選及び賞品や商品発送のため
          %li 本サービス利用に関する個人を識別できない統計データを作成するため
          %li その他本サービスにおける重要なお知らせなどをご案内するため

        %h2.title 個人情報の利用目的の変更
        %p 当社は、個人情報の利用目的を相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には利用者に通知又は公表します。
        %h2.title 個人情報の利用制限
        %p 当社は、個人情報保護法その他の法令により許容される場合を除き、利用者の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取り扱いません。但し、次の場合はこの限りではありません。
        %ol
          %li 法令に基づく場合
          %li 人の生命、身体又は財産の保護のために必要がある場合であって、利用者の同意を得ることが困難であるとき
          %li 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、利用者の同意を得ることが困難であるとき
          %li 国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
        %h2.title 個人情報の適正な取得
        %p 当社は、適正に個人情報を取得し、偽りその他の不正の手段により取得しません。

        %h2.title 個人情報の安全管理
        %p 当社は、取り扱う個人情報の紛失、破壊、改ざん及び漏洩の防止、その他個人情報の安全管理のために必要かつ適切な措置を講じます。また、当社は、個人情報の取扱の全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるように必要かつ適切な措置を講じます。

        %h2.title 個人情報の第三者提供
        %p 当社は、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ利用者の同意を得ないで、個人情報を第三者に提供しません。但し、次に掲げる場合は上記に定める第三者への提供には該当しません。
        %ol
          %li 当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合
          %li 合併その他の事由による事業の承継に伴って個人情報が提供される場合
          %li 個人情報保護法の定めに基づき共同利用する場合

        %h2.title 個人情報の開示
        %p 当社は、利用者から個人情報の開示を求められた場合には、個人情報保護法の定めに基づき、利用者ご本人からのご請求であることを確認の上で開示を行います。ただし個人情報保護法やその他法令により当社が開示義務を負わない場合、この限りではありません

        %h2.title 個人情報の訂正等
        %p 当社は、利用者から、個人情報が真実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合には、利用者ご本人からのご請求であることを確認の上で、利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、その旨を通知します（訂正等を行わない旨の決定をしたときは、利用者に対しその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が訂正等の義務を負わない場合は、この限りではありません。

        %h2.title 個人情報の利用停止等
        %p 当社は、利用者から、利用者の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合、又は個人情報がご本人の同意なく第三者に提供されているという理由により、個人情報保護法の定めに基づきその提供の停止（以下「提供停止」といいます。）を求められた場合において、そのご請求に理由があることが判明した場合には、利用者ご本人からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等又は提供停止を行い、その旨を利用者に通知します。但し、個人情報保護法その他の法令により、当社が利用停止等又は提供停止の義務を負わない場合は、この限りではありません。

        %h2.title Cookie(クッキー)その他の技術の利用
        %p 当サービスは、Cookie及びこれに類する技術を利用することがあります。これらの技術は、当サービスの利用状況等の把握に役立ち、サービス向上に資するものです。Cookieを無効化されたい利用者は、ウェブブラウザの設定を変更することによりCookieを無効化することができます。但し、Cookieを無効化すると、当サービスの一部の機能をご利用いただけなくなる場合があります。
        %h2.title プライバシーポリシーの更新
        %p 当社は、個人情報の取扱いに関する本ポリシーの運用状況を適時見直し、必要に応じて本ポリシーを更新することがあります。
        %h2.title お問い合わせ窓口
        %p ご意見、ご質問やその他お問い合わせ先は、#{link_to "こちら", contact_path}です。
        %p.has-text-right 以上
