%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ cliniclist_responsive
.columns
  .column
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-2042377981827942", "data-ad-format" => "auto", "data-ad-slot" => "1832833117", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
