#{@name}様
%br
%br
お世話になっております。クリニックリスト運営事務局です。
%br
この度はお問い合わせ頂きありがとうございます。
%br
※本メールはお問い合わせを頂いた方に自動送信しています。
%br
%br
内容を確認次第ご返答いたしますので、恐れ入りますが、今しばらくお待ちください。
%br
%br
%br
また、何かお気づきの点やご質問がございましたら、info@cliniclist.jp にご連絡ください。
%br
今後共、クリニックリストをよろしくお願いいたします。
%br
%br
クリニックリスト運営事務局
